<!--<app-string-interpolation></app-string-interpolation>-->

<!--<app-property-binding></app-property-binding>-->

<!--<app-event-binding></app-event-binding>-->

<!--<app-two-way-data-bindings></app-two-way-data-bindings>-->

<!--<app-ng-style></app-ng-style>-->

<!--<app-ng-class></app-ng-class>-->

<!--<app-ng-if></app-ng-if>-->
<!--<app-input-binding-->
<!--  name="Abner"-->
<!--  [age]="age"-->
<!--&gt;</app-input-binding>-->

<!--<app-ng-for></app-ng-for>-->

<!--<app-ng-for-form></app-ng-for-form>-->

<!--<app-ng-if></app-ng-if>-->

<!--<app-ng-switch></app-ng-switch>-->

<!--<app-ng-template></app-ng-template>-->

<!--<router-outlet></router-outlet>-->
<!--<app-parent-child></app-parent-child>-->
<!--<app-on-changes></app-on-changes>-->
<!--<app-refazer></app-refazer>-->
<app-main-life></app-main-life>
